/* 오늘의 쇼핑 제안 */
* {
  margin: 0 auto;
}

header {
  width: 1022px;
  height: 50px;
  margin-bottom: 48px;
}

.icon {
  width: 30px;
  height: 30px;
  background-image: url(/assets/icon/shopping.svg);
  display: inline-block;
}

a > img:first-of-type {
  width: 160px;
  height: 160px;
  margin: 14px 20px 12px;
}

section {
  width: 1022px;
  height: 354px;
}

.section_1 {
  position: static;
  width: 200px;
  height: 270px;
}

.container {
  display: flex;
}

.propose {
  margin-bottom: 24px;
}

picture source,
picture img {
  width: 176px;
  height: 40px;
}

.p {
  font-size: 14px;
}

.rate {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 10px;
  width: 53px;
  height: 30px;
  background: #e52330;
  border-radius: 0px 0px 4px 0px;
  color: white;
}

.star_box {
  width: 117px;
  height: 17px;
  margin-right: 100px;
}

.star {
  width: 68px;
  height: 12px;
  background-image: url(/assets/sprites/rating-stars.png);
  display: inline-block;
}

.s1 {
  background-position: bottom 138px right 0px;
}

.s2 {
  background-position: bottom 138px right 0px;
}

.s3 {
  background-position: bottom 124px right 0px;
}

.s4 {
  background-position: bottom 152px right 0px;
}
.s5 {
  background-position: bottom 124px right 0px;
}
